* {
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */	
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;	
	padding: 0;figure
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


#homebod {
	height: 100%;
	background-color: ;
}

body {
	line-height: 1;
}

article {
	display: block;
}

#header-block {
	width:100%;
	margin:0;
	padding: 0;
	position: relative;
}

#header-block 
.page-header__background {
	position: relative;
	z-index: 10;
	height: 100%;
	width: 100%;
}

.static-background {
	background-attachment: fixed;
}
.backstretch {
	background-size: cover;
	background-position: center center;
}
#page {
	position: relative;
	z-index: 90;
}

#header.stuck {
	height: 50px;
	position: fixed;
	top:0;
	width: 100%;
	z-index: 100;
	font-size: 12px;
	opacity: 0.92;
}

#header {
	transition: height 500ms ease-in-out;
}

.site-header {
	margin: 0;
	background-color: #fcfcfc;
}

.responsive-menu {
	display: none;
	padding-left: 0;
}

.text-block.valign .text-inner {
	display: table-cell;
	vertical-align: middle;
}
.text-block.valign {
	display: table;
	width: 100%;
}

/*------Navigation Bar-------*/


#navContainer {
    width:100%;
    margin-top:-3x;
    margin-left: auto;
    margin-right: auto;
    padding:0;
    height:auto;
    clear:left;
}
#navMenu li{
    margin:0;
    padding:0;
    list-style:none;
    text-align: center;
}
#navMenu ul li a{
    text-align:center;
    text-decoration:none;
    height:30px;
    width:150px;
    display:block;
    margin-right: auto;
    margin-left: auto;
}
/*------NAVIGATION ENDS---------*/


/* ------------------WORK -----------*/

.container {
	width: 100%;
	position: relative;
	padding-bottom: 5%;
	z-index: 300;
}

section#work {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
}

section {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#work ul {
	list-style-type: none;
}

li.image {
	width: 600px;
	margin-bottom: 10%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

li.image img {
	width: 600px;
	outline: 2px solid #ededed;
}

a {
	color: black;
	text-decoration: none;
}

h2 {
	font-size: 1.7em;
	font-family:;
	text-transform: uppercase;
	text-align: center;
	padding: 35px 0;
	color: ; 
	width: 100%;
	font-weight: 500;
	letter-spacing: 6px;
}

.image p {
background: rgba(0,0,0,.8);
padding: 14px 0;
color:white;
font-family:'Bentham';
width:70%;
bottom:0;
position:absolute;
text-align: center;
margin-bottom:3%;
display:none;
}

.image:hover p {
transition:display 2s;
display:block;
}





.rollwrapper {
	position: relative;
	width: 100%;
	display: inline-block;
}
#og-grid.og-grid img{
	border: 10px white solid;
	width: 100%;
	max-width: 300px;
}

a::after{
	top:100%;
	border: solid transparent;
	/*content: " ";*/
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: black;
	border-width: 15px;
	left: 50%;
	margin: 15px 0 0 -15px;
}


span {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


.site-branding {
	width: 33.33%;
	float: left;
	padding-left: 24px;
}

.main {
	padding-top: 3%;
}

.js__parallax {
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.container__block {
	position: relative;
}
.light-font {
	color: #fcfcfc;
}

.container__block
.container__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.container__block
.container__inner {
	position: relative;
	z-index: 50;
	padding-top: 80px;
	padding-bottom: 80px;
	zoom: 1;
}
.container__block.boxed
.container__inner {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-width: 1080px;
}
.container__block.boxed 
.container__content {
	margin-left: -24px;
	list-style: none;
	margin-bottom: 0;
}
.container__block
.container__title{
	text-transform: uppercase;
	text-align: center;
	position: relative;
	z-index: 50;
}

.entry-list.boxed {
	text-align: center;
	padding:25px 0;
	margin: 0 auto;
	width: 100%;
	font-size: 0;
}

.cf {
	zoom: 1;
	display: block;
}
.one-whole {
	width: 100%;
}
.column {
	float: left;
	padding-left: 24px;
}


/*COMPONENT CSS*/

/* ANIMATION TRANSITION IF NEEDED */
			.animate {
				-webkit-transition: all 0.35s ease-in-out;
				-moz-transition: all 0.35s ease-in-out;
				-ms-transition: all 0.35s ease-in-out;
				-o-transition: all 0.35s ease-in-out;
				transition: all 0.35s ease-in-out;
			}
		/* GRID ELEMENTS */
			.og-grid {
				list-style: none;
				padding: 1% 0;
				margin: 0 auto;
				text-align: center;
				width: 100%;
			}

			.og-grid li {
				display: inline-block;
				margin: 10px 5px 0 5px;
				vertical-align: top;
				height: 250px;
			}

			.og-grid li > a,
			.og-grid li > a img {
				/*border: none;*/
				outline: none;
				display: block;
				position: relative;
			}

			.og-grid li.og-expanded > a::after {
				top: auto;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-bottom-color: #ddd;
				border-width: 15px;
				left: 50%;
				margin: -20px 0 0 -15px;
			}

			.og-expander {
				position: absolute;
				background: #ddd;
				top: auto;
				left: 0;
				width: 100%;
				margin-top: 10px;
				text-align: left;
				height: 0;
				overflow: hidden;
			}

			.og-expander-inner {
				padding: 10px 20px;
				height: 100%;
			}

			.og-close {
				position: absolute;
				width: 40px;
				height: 40px;
				top: 20px;
				right: 20px;
				cursor: pointer;
			}

			.og-close::before,
			.og-close::after {
				content: '';
				position: absolute;
				width: 100%;
				top: 50%;
				height: 1px;
				background: #888;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				transform: rotate(45deg);
			}

			.og-close::after {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}

			.og-close:hover::before,
			.og-close:hover::after {
				background: #333;
			}

			.og-fullimg,
			.og-details {
				width: 100%;
				height: 100%;
				overflow: hidden;
				position: relative;
			}
			.og-fullimg {
				width: 100%;
			}
			.og-details {
				padding: 0;
			}

			.og-fullimg {
				text-align: center;
			}

			.og-fullimg img {
				display: inline-block;
				max-height: 100%;
				max-width: 100%;
			}

			.og-details h3 {
				font-size: 30px;
				font-weight: 300;
				padding: 10px 0;
			}
				.og-details p {
					font-weight: 400;
					font-size: 16px;
					line-height: 22px;
					color: #999;
				}
				.og-details a {
					font-weight: 700;
					font-size: 16px;
					color: #333;
					text-transform: uppercase;
					letter-spacing: 2px;
					padding: 10px 20px;
					border: 3px solid #333;
					display: inline-block;
					margin: 30px 0 0;
					outline: none;
				}.og-details a::before {
					content: '\2192';
					display: inline-block;
					margin-right: 10px;
				}.og-details a:hover {
					border-color: #999;
					color: #999;
				}

			.og-loading {
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: #ddd;
				box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -25px 0 0 -25px;
				-webkit-animation: loader 0.5s infinite ease-in-out both;
				-moz-animation: loader 0.5s infinite ease-in-out both;
				animation: loader 0.5s infinite ease-in-out both;
			}

			@-webkit-keyframes loader {
				0% { background: #ddd; }
				33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
				66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
			}

			@-moz-keyframes loader {
				0% { background: #ddd; }
				33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
				66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
			}

			@keyframes loader {
				0% { background: #ddd; }
				33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
				66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
			}

		/* IMAGE GALLERY */


			 iframe {
				width: 100%;
				height: auto;
				display: none;
			}
			.largepreviewImageContainer {
				margin-top: 10px;
			}
				.largepreviewImageContainer, .largepreviewImageContainer .og-fullimg {
				    display: inline-block;
				    height: auto;
				    text-align: center;
				    width: 100%;
				}
					.largepreviewImageContainer .og-fullimg img {
					    height: 100%;
					    margin: 0 auto;
					    max-height: 100%;
					    max-width: 100%;
					    width: auto;
					}

		.previewImageContainer {
			float: left;
		    display: inline-block;
		    height: auto;
		    position: relative;
		    text-align: center;
		    width: 100%;
		    margin: 0 auto;
		    padding: 0 10px;
		}

					.SmallPreviewImageContainer {
			    bottom: 0;
			    display: inline-block;
			    height: auto;
			    left: 0;
			    margin: 0;
			    position: relative;
			    text-align: center;
			    width: 100%;
			}
							.SmallPreviewImageContainer .SmallImage {
					display: inline-block;
				    height: auto;
				    margin: 0 1% 0;
				    width: 32%;
				    max-width: 100px;
				    min-height: 73px;
				}
					.SmallPreviewImageContainer .SmallImage:first-child{
						margin-left: 0;
					}
					.SmallPreviewImageContainer .SmallImage:last-child{
						margin-right: 0;
					}
				.SmallPreviewImageContainer .thumb {
				    width: 100%;
				    height: auto;
				}



/* ------------------SKETCHBOOK -----------*/

.container {
	width: 100%
	position: relative;
	padding-bottom: 5%;
	z-index: 300;
}

section#sketchbook {
	height: auto;
	max-width: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	background-color: white;
}

#sketchbook {
	background-color: white;
	width: 100%;
	padding: 3% 3%;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}


#sketchbook ul {
	list-style-type: none;
}





ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -10.5%; /* should match li left margin */
}
ul.rig li {
	display: inline-block;
	padding: 10px;
	/*margin: 0 0 2.5% 2.5%;*/
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.rig li img {
	max-width: 100%;
	height: auto;
	/*margin: 0 0 10px;*/
}
ul.rig li h3 {
	margin: 0 0 5px;
}
ul.rig li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}
/* class for 2 columns */
ul.rig.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}
 
@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 0px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 10.5;
	}
	ul.rig li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
}

